- javascript :defaults, *italian_calendar_date_select
- stylesheet "calendar_date_select/silver.css"

- title "#{t(:invoice_trails)}"

- breadcrumbs link_to "#{t(:new)} #{t(:invoice_trail)}", new_invoice_trail_path

- form_for @search do |f|
  %fieldset
    %legend
      = t(:search_criteria)

    %p
      = f.label :admission_date_after, t(:admission_date_after)
      = f.calendar_date_select :admission_date_after, :month_year => true, :size => 10  
      \&nbsp;
      = f.label :admission_date_before, t(:admission_date_before)
      = f.calendar_date_select :admission_date_before, :month_year => true, :size => 10
      \&nbsp;&nbsp;&nbsp;&nbsp;

      = f.label :payment_status, t(:payment_status)
      &nbsp;
      = f.radio_button :payment_status, :any_payment
      = t(:any_payment)
      &nbsp;&nbsp;
      
      = f.radio_button :payment_status, :payment_uncompleted
      = t(:payment_uncompleted)
      \&nbsp;
      
      = f.radio_button :payment_status, :payment_completed
      = t(:payment_completed)
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    %p  
      = f.label :invoice_number, t(:invoice_number)
      = f.text_field :invoice_number, :size => 6
      \&nbsp;&nbsp;&nbsp;
            
      = f.label :admission_code_like, t(:admission_code)
      = f.text_field :admission_code_like, :size => 8
      \&nbsp;&nbsp;&nbsp;
      
      = f.label :full_name_like, t(:full_name)
      = f.text_field :full_name_like, :size => 22
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      = f.label :notes_like, t(:notes)
      = f.text_field :notes_like, :size => 15
        
    = f.submit t(:filter), {:class  => "button right"}

- unless  @invoice_trails_count.zero?
  %table{:cellspacing => "0", :cellpadding => "0"}
    %thead
      %tr
        %th= order @search, :by => :admission_date, :as =>t(:admission_date)
        %th= order @search, :by => :admission_code, :as =>t(:admission_code)
        %th{:class => "text-right"}= order @search, :by => :full_name, :as =>t(:full_name)
        %th{:class => "text-left"}= order @search, :by => :gross_amount, :as =>t(:gross_amount)
        %th{:class => "text-left"}= order @search, :by => :discounted_amount, :as =>t(:discounted_amount)        
        %th= order @search, :by => :payment_date, :as =>t(:payment_date)
        %th= order @search, :by => :invoice_number, :as =>t(:invoice_number)
        %th= t(:notes)
        
    
    %tbody
    - for invoice_trail in @invoice_trails
      %tr{:class => cycle(:odd, :even), :onclick => "changeLocation('#{url_for(invoice_trail)}');"}
        %td= h invoice_trail.admission_date
        %td= h invoice_trail.admission_code
        %td{:class => "text-right"}= h invoice_trail.full_name
        %td{:class => "text-right"}= h number_to_currency(invoice_trail.gross_amount)
        %td{:class => "text-right"}= h number_to_currency(invoice_trail.discounted_amount)
        %td= h invoice_trail.payment_date
        %td= h invoice_trail.invoice_number
        %td{:style => "min-width:130px"}= h invoice_trail.notes
  
  %p{:class => "text-center"}
    %strong="#{t(inflect_result(@invoice_trails_count))}"
    ="#{@invoice_trails_count} in #{distance_of_time_in_words(@most_recent_date, @least_recent_date)}" 
    \&nbsp;&nbsp;

    %strong="#{t(:partial_gross_amount)}"
    = number_to_currency(@partial_gross_amount)
    \&nbsp;&nbsp;&nbsp;

    %strong="#{t(:partial_discounted_amount)}"
    = number_to_currency(@partial_discounted_amount)
    \&nbsp;&nbsp;&nbsp;
    
    %strong="#{t(:partial_average_discount)}"
    = number_to_percentage(((1 - (@partial_discounted_amount/@partial_gross_amount))*100))
    \&nbsp;&nbsp;&nbsp;
    
  = will_paginate @maintenances

- else
  %h3.text-center=t(:no_results)