- javascript :defaults
- javascript "calendar_date_select/calendar_date_select.js", "calendar_date_select/format_italian.js"


- title "#{t(:invoice_trails)}"

%p= link_to "#{t(:new)} #{t(:invoice_trail)}", new_invoice_trail_path

  
- form_for @search do |f|
  %fieldset
    %legend
      = t(:search_criteria)

    %p
      = f.label :admission_date_after, t(:admission_date_after)
      / = f.calendar_date_select_tag :admission_date_after, :discard_day  => true, :default => 3.months.ago
      = f.text_field :admission_date_after, :size => 12, :default => 3.months.ago.to_s(:db)
      
      = f.label :admission_date_before, t(:admission_date_before)
      / = f.calendar_date_select_tag :admission_date_before, :discard_day  => true
      = f.text_field :admission_date_before, :size => 12, :default => Time.now.to_s(:db)
      \&nbsp;&nbsp;&nbsp;&nbsp;
      
      = f.radio_button :payment_status, :payment_uncompleted
      = t(:payment_uncompleted)
      \&nbsp;&nbsp;&nbsp;
      
      = f.radio_button :payment_status, :payment_completed
      = t(:payment_completed)
      \&nbsp;&nbsp;&nbsp;
      
      = f.label :invoice_number, t(:invoice_number)
      = f.text_field :invoice_number, :size => 6

    %p  
      = f.label :admission_code_like, t(:admission_code)
      = f.text_field :admission_code_like, :size => 8
      \&nbsp;&nbsp;&nbsp;
      
      = f.label :full_name_like, t(:full_name)
      = f.text_field :full_name_like, :size => 30
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      = f.label :notes_like, t(:notes)
      = f.text_field :notes_like, :size => 15
        
    %p.button.right
      = f.submit t(:filter)

- unless  @invoice_trails_count.zero?

  %p
    %strong="#{t(inflect_result(@invoice_trails_count))}"
    ="#{@invoice_trails_count} in #{distance_of_time_in_words(@most_recent_date, @least_recent_date)}" 
    \&nbsp;&nbsp;

    %strong="#{t(:partial_gross_amount)}"
    = number_to_currency(@partial_gross_amount)
    \&nbsp;&nbsp;&nbsp;
  
    %strong="#{t(:partial_payed_amount)}"
    = number_to_currency(@partial_payed_amount)
    \&nbsp;&nbsp;&nbsp;

    %strong="#{t(:partial_average_discount)}"
    = number_to_percentage(@partial_average_discount)
    \&nbsp;&nbsp;&nbsp;
    

  %table
    %thead
      %tr
        %th= order @search, :by => :admission_date, :as =>t(:admission_date)
        %th= t(:admission_code)
        %th= order @search, :by => :full_name, :as =>t(:full_name)
        %th= order @search, :by => :gross_amount, :as =>t(:gross_amount)
        %th= order @search, :by => :payed_amount, :as =>t(:payed_amount)
        %th= order @search, :by => :discount, :as =>t(:discount)     
        %th= t(:payed)
        %th= order @search, :by => :payment_date, :as =>t(:payment_date)
        %th= order @search, :by => :invoice_number, :as =>t(:invoice_number)
        %th= t(:notes)
    
    %tbody
    - for invoice_trail in @invoice_trails
      %tr{:class => cycle(:odd, :even), :onclick => "this.href=http://bios-invoice-manager.local/invoice_trails/#{url_for(invoice_trail)}"}
        %td= h invoice_trail.admission_date
        %td= h invoice_trail.admission_code
        %td= h invoice_trail.full_name
        %td= h number_to_currency(invoice_trail.gross_amount)
        %td= h number_to_currency(invoice_trail.payed_amount)
        %td= h number_to_percentage(invoice_trail.discount)
        %td= h invoice_trail.payed
        %td= h invoice_trail.payment_date
        %td= h invoice_trail.invoice_number
        %td= h invoice_trail.notes
        %td= link_to t(:show), invoice_trail
  
  = will_paginate @maintenances

- else
  %h3{:text_align => :center}=t(:no_results)