!!! Strict
%html{html_attrs}
  
  %head
    %title
      = t(:site_title)
      &mdash;
      = h(yield(:title) || "Untitled")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = yield(:head)
    / = calendar_date_select_includes "silver"
  
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      - if show_title?
        %h1=h yield(:title)
      
      = yield
